@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8fafc; /* Beautiful clean background */
  color: #0f172a;
  font-family: system-ui, -apple-system, sans-serif;
}